**/node_modules/
**/.env
**/dist/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build
**/dist/
**/build/

# Environment
**/.env
**/.env.local
**/.env.*.local

# Logs
logs
*.log
*.log.*

# Editor
.vscode/
.idea/
*.swp

# Prisma
**/prisma/dev.db
**/prisma/dev.db-journal